# Configuration file

~CONFIG_VERSION: 0.1.0

world-1431591077 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=sword
    B:overlayEnabled=true
}


world-2084448049 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=mana
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=win
    B:overlayEnabled=true
}


world-91535244 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=pulsat
    B:overlayEnabled=true
}


world1457374777 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=pickaxe
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=wing
    B:overlayEnabled=true
}


world1764654614 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=darksteel
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=wing
    B:overlayEnabled=true
}


world2010616876 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=battery
    B:overlayEnabled=true
}


world2603186 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@appliedenergistics2
    B:overlayEnabled=true
}


world785103634 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=condui
    B:overlayEnabled=true
}


