# Configuration file

harvestlevelnames {
    S:Level0=Flint          #wood, stone, flint, cactus, bone, netherrack, slime, paper, blueslime, magicwood, string, Copper
    S:Level1=Tin            #ghostwood, fusewood, darkwood, bloodwood, magicwood
    S:Level2=Iron           #iron, pigiron, thaumium, bronze
    S:Level3=Obsidian       #Steel, manasteel, obsidian
    S:Level4=Aluminium      #elementium, Ardite, dark Steel, Aluminium
    S:Level5=Cobalt         #alumite, Cobalt, unstableingot, 
    S:Level6=Manyullyn      #Manyullyn, void metal, terrasteel
    S:Level7=stainlesssteel #bedrockium, stainlesssteel, Titanium
    S:Level8=tungstensteel  #tungstensteel
}


